<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h3><%= title %></h3>
<form action="/bsv-api/sendBSV" method="post">
    <table>
        <tr>
            <td>From Address: </td>
            <td><input type="text" name="fromAddress"></td>
        </tr>
        <tr>
            <td>From PrivateKey: </td>
            <td><input type="text" name="fromPrivateKey"></td>
        </tr>
        <tr>
            <td>To Address: </td>
            <td><input type="text" name="toAddress"></td>
        </tr>
        <tr>
            <td>Amount: (BSV)</td>
            <td><input type="text" name="amount"></td>
        </tr>
        <tr>
            <td><input type="submit" value="전송"></td>
        </tr>
    </table>
</form>
</body>
</html>